body {
    text-align: center;

}


h1 {
    margin-left: 30%;

    color: #441a03;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

table {
    /* table-layout: fixed; */
    margin: 0 auto;
    width: 50%;
    height: 40%;
    border: 49px solid #462921;
    border-collapse: separate;

    margin: 5% 10% 10% 10%
}

th {
    background: #7d694c;
}

tr,
td {
    border: 1px solid black;
}

td {
    /* text-align: left; */
    height: 80px;



}

.black {
    background-color: #725122;
    text-align: center;
    vertical-align: middle;


}

.white {
    background-color: #b5915f;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

/* tr:nth-of-type(even) td:nth-of-type(even),tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color:#440303;
}   */

tr:nth-of-type(even) td:nth-of-type(even):hover {
    background-color: #72512267
}

tr:nth-of-type(odd) td:nth-of-type(odd):hover {
    background-color: #72512267
}

.onIt {
    background: rgba(252, 151, 0, 0.966);
}

.options {
    background-color: rgba(59, 194, 47, 0.705);
}