body {
    text-align: center;
    background-color: rgb(219, 219, 219);

}


h1 {

    color: #441a03;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b5915f;
}

.whiteSign {

    color: #b5915f;
}

.blackSign {
    color: #725122;
}

/* .whitePlayer {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-right: 0%;
}

.darkPlayer {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-left: 80%;
} */

table {
    position: relative;
    align-items: center;
    margin: 0 auto;
    /* width: 10%;
    height: 100%; */
    border: 29px solid #462921;
    border-collapse: separate;
    margin: 2% 25%
}

th {
    background: #7d694c;
    width: 80px;
}

tr,
td {
    border: 1px solid black;
}

td {
    /* text-align: left; */
    width: 64px;
    height: 64px;

}

.white {
    background-color: #725122;
    text-align: center;
    vertical-align: middle;


}

.black {
    background-color: #b5915f;
    text-align: center;
    vertical-align: middle;
}


td:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

.winner-popup {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: #cdcdcdf5;
    border-radius: 10px;
    width: max-content;
}

tr:nth-of-type(even) td:nth-of-type(even):hover {
    background-color: #72512267
}

tr:nth-of-type(odd) td:nth-of-type(odd):hover {
    background-color: #72512267
}

.onIt {
    box-shadow: inset 0 0 40px rgba(252, 151, 0, 0.966);
}

.options {
    box-shadow: inset 0 0 40px rgba(59, 194, 47, 0.705);
}

.beforeEat {
    box-shadow: inset 0 0 40px red;
}

@media only screen and (max-width:650px) {
    table {
        margin: 0;
        /* height: 50%; */
        float: left;
        border: 19px solid #462921;
    }

    td {
        /* text-align: left; */
        width: 64px;
        height: 64px;

    }



}